body.loaded {
  overflow: auto !important;
  overflow-x: hidden !important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: transform 0.4s ease;
}
.mmenu-active .page-wrapper {
  transform: translateX(200px);
}
